youtube_search
pytz
requests
yt_dlp
aiohttp
Pyrogram
Tgcrypto
asyncio
wget
aiofiles
OpenCC
pytube
pillow
hachoir
dnspython
motor
pyromod
psutil
ffmpeg-python
ffmpeg
python-arq
future
heroku3
gitpython
py-tgcalls
python-dotenv
